$dark-variable: (
    color-primary: #1b1a1a, // hover/select
    color-secondary: #262626, // bg1
    color-third: #1e1e1e, // bg2
    border-color-primary: #383838,
    color-brand: #a30f04,
    color-brand-secondary: #b64037, // color contrast on the color-brand
    color-contrast-primary: #d8d8d8,
    color-contrast-secondary: #ffffff,
    color-contrast-3rd: #fea300,
    bg-standard-1st: linear-gradient(to bottom, #343333, #2b2b2b),
    box-shadow-1st: 3px 2px 4px 0 rgba(0, 0, 0, 0.41)
);