$light-variable: (
    color-primary: #F1F1F1, // hover/select
    color-secondary: #FFFFFF, // bg1
    color-third: #F6F6F6, // bg2
    border-color-primary: #d9d9d9,
    color-brand: #a30f04,
    color-brand-secondary: #b64037, // color contrast on the color-brand
    color-contrast-primary: #1B1A1A,//choosen
    color-contrast-secondary: #FFFFFF,//choosen
    color-contrast-3rd: #fea300,
    bg-standard-1st: linear-gradient(#FFFFFF, #F2F1F2),
    box-shadow-1st: 3px 2px 4px 0 rgba(0, 0, 0, 0.11)
);